@use '../../app/styles/index';

.header {
  width: 100%;
  height: 50px;
  padding: 0 2em;
  background: index.$blue;
  color: index.$font;
  display: flex;
  align-items: center;
  gap: 30px;

  &__title {
    font-size: 1.3em;
  }
}